body {
  margin: 3em;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

li a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 18px;
  border: 3px solid black;
}

h1 {
  line-height: 1.25;
  margin: 1em 0 0;
}

hr {
  border-top: 1px dashed grey;
}

input {
  position: relative;
  transform: scale(2); /* Or however big you want it */
  transform-origin: 0 0;
}
p {
  margin: 0.5em 0;
}

.switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.random {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.flower {
  background-image: url("https://www.johnnyseeds.com/dw/image/v2/BJGJ_PRD/on/demandware.static/-/Sites-jss-master/default/dw5849c585/images/products/flowers/01814_01_sunrichorangesum.jpg?sw=800&cx=302&cy=0&cw=1196&ch=1196");
  background-size: cover;
}


